<h2>Buenos días, {{User.name}}</h2>
<h2>¿Que deseas realizar el día de hoy?</h2>
<table>
    <tr>
    <td>
    <a routerLink="/Retiro">
        <div class="module">
            <h2>Retirar</h2>
        </div>
    </a>
    </td>
    <td>
    <a routerLink="/Consignar">
        <div class="module">
            <h2>Consignar</h2>
        </div>
    </a>
    </td>
    <td>
        <a routerLink="/Saldo">
            <div class="module">
                <h2>verificar el saldo</h2>
            </div>
        </a>
    </td>
    </tr>
    </table>
